body {
    margin: 0;
}
header, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    background: #6943FF;
    padding: 30px;
    color: #fff;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}
p {
    color: #353535;
    font-size: 1.125rem;
}
main {
    background: #F4F4F4;
    padding: 10px;
    height: 100vh;
}
.section {
    background-color: #FFFFFF;
    margin: 20px 30px;
    padding: 10px;
}
input {
    border: 1px solid #B295FF;
    color: #FFFFFF;
    background: transparent;
    font-weight: bold;
    font-size: 2.81rem;
    margin: 20px;
    text-align: center;
    padding: 0.3em;
    max-width: 6.25rem;
}
input, button {
    border-radius: 3px; 
}
button {
    background: #FFFFFF;
    border: none;
    padding: 0.56em 0.62em;
    width: 7.5rem;
    font-size: 1.25rem; 
}
h3 {
    color: #5A537B;
    font-size: 1.375rem;
    margin: 0.66em;
}